### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings/
bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
repo/
**/src/generated/**/.cache/

### 本地工具/分析产物 ###
docs/
tools/
temp/
.workbuddy/
